.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.header-title {   
    width: 50%;
}
.header-action {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    font-size: 0.7em;
}