.container {
  max-width: 1100px;
  margin: 0 auto;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.filters {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}
